@import url('./_utilities.css');

*{
margin: none;
padding: none;
box-sizing: border-box;
}

.main-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7ed2ca;
}
.preview-container{
    width: 40%;
    margin: 100px auto;
    height: 70px;
    border: 13px solid #919191;
    border-radius: 5%;
    position: relative;
    z-index: 2;
}
.preview-container .preview-header{
    background-color: #d9d9d9;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
    position: relative;
    z-index:1;
    height: 15%;
    padding: 30px;

}
.preview-container .preview-header .preview-header-container{
    width: 10%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    align-items: center;
    border-radius: 50%;
}
.preview-container .preview-header.preview-header-button{
    width: 30px;
    padding: 10px;
    height: 30px;
    border-radius:50% ;
}
.preview-container.subcont2{
    width: 100%;
    height: 85%;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: (4,1fr);
    gap: 15px;

}